
        .jssorb05 {
            
            position: absolute;
          
            
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 20px;
            height: 20px;
            background: url('../img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -0px -0px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -32px -0px; }
        .jssorb05 .av { background-position: -64px -0px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -96px -0px; }


