.logo{

	border: 1px solid #92CB00;
	margin: 5px 0px 5px 0px;
}
.textbox{
	width:95%;
	height: 35px;
	border: 2px solid #92CB00;
	margin-top: 20px;
	font-size: 16px;
	color: Gray;
}
.button{
	margin-top: 20px;
	width:40%;
	height:35px;
	background: #92CB00;
	color: #fff;
	border-style: none;
    font-size: 15px;
    margin-bottom: 30px;

}
